.main-view {
  transition: all 0.3s;
}

body {
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  color: white;
}
* {
  font-family: "Courier New", Courier, monospace;
}

.header-logo {
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.middle-center {
  display: flex;
  justify-content: center;
}

.selection-button {
  padding: 10px;
  border: 1px solid;
  min-width: 80px;
  text-align: center;
  margin: 20px;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: black;
  font-size: 17px;
}

.selection-button:hover {
  transition: all 0.3s;
  color: black;
  background-color: white;
}

.transaction-info {
  text-align: center;
}

.none {
  color: white;
}

.waiting {
  color: yellow;
}
.verified {
  color: green;
}
.failed {
  color: red;
}
